In [1]:
import pandas as pd
import numpy as np

In [2]:
#Use data from step tracking application to create a Pandas Series
step_data = [3620, 7891, 9761, 3907, 4338, 5373]
step_counts = pd.Series(step_data, name="step")
print(step_counts)

0    3620
1    7891
2    9761
3    3907
4    4338
5    5373
Name: step, dtype: int64

In [3]:
#Add a date range to the Series
step_counts.index = pd.date_range("20150329", periods=6)
print(step_counts)

2015-03-29    3620
2015-03-30    7891
2015-03-31    9761
2015-04-01    3907
2015-04-02    4338
2015-04-03    5373
Freq: D, Name: step, dtype: int64

In [4]:
#Select data by the index values
print(step_counts["2015-04-01"])
# Or by index positionâ€”like an array
print(step_counts[3])
# Select all of April
print(step_counts["2015-04"])

3907
3907
2015-04-01    3907
2015-04-02    4338
2015-04-03    5373
Freq: D, Name: step, dtype: int64

In [5]:
# View the data type
print(step_counts.dtypes)
# Convert to float
step_counts = step_counts.astype(np.float)
# View the data type
print(step_counts.dtypes)

int64
float64

In [6]:
# Create invalid data 
step_counts[1:3] = np.NaN
# Now fill it in with zeros
step_counts = step_counts.fillna(0.)
print(step_counts[1:3])

2015-03-30    0.0
2015-03-31    0.0
Freq: D, Name: step, dtype: float64

In [7]:
cycling_data = [10.7, 0, None, 2.4, 15.3, 10.9, 0, None]
# Create tuple of data 
joined_data = list(zip(step_data, cycling_data))
# The dataframe
activity_df = pd.DataFrame(joined_data)
print(activity_df)

      0     1
0  3620  10.7
1  7891   0.0
2  9761   NaN
3  3907   2.4
4  4338  15.3
5  5373  10.9

In [8]:
activity_df = pd.DataFrame(joined_data, index=pd.date_range("20150329", periods = 6), columns= ["Walking", "Cycling"])
print(activity_df)

            Walking  Cycling
2015-03-29     3620     10.7
2015-03-30     7891      0.0
2015-03-31     9761      NaN
2015-04-01     3907      2.4
2015-04-02     4338     15.3
2015-04-03     5373     10.9

In [9]:
# Select row of data by index name
print(activity_df.loc["2015-04-01"])

Walking    3907.0
Cycling       2.4
Name: 2015-04-01 00:00:00, dtype: float64

In [10]:
# Select row of data by integer position
print(activity_df.iloc[-3])

Walking    3907.0
Cycling       2.4
Name: 2015-04-01 00:00:00, dtype: float64

In [11]:
# Name of column
print(activity_df["Walking"])

2015-03-29    3620
2015-03-30    7891
2015-03-31    9761
2015-04-01    3907
2015-04-02    4338
2015-04-03    5373
Freq: D, Name: Walking, dtype: int64

In [12]:
# Object-oriented approach
print(activity_df.Walking)

2015-03-29    3620
2015-03-30    7891
2015-03-31    9761
2015-04-01    3907
2015-04-02    4338
2015-04-03    5373
Freq: D, Name: Walking, dtype: int64

In [13]:
# First Colum 
print(activity_df.iloc[:,0])

2015-03-29    3620
2015-03-30    7891
2015-03-31    9761
2015-04-01    3907
2015-04-02    4338
2015-04-03    5373
Freq: D, Name: Walking, dtype: int64

In [17]:
filepath = "/media/khaled/18d9fec9-8f46-4fc5-b0bf-80be8468f07b/intel/iris_data.csv"
filepath

'/media/khaled/18d9fec9-8f46-4fc5-b0bf-80be8468f07b/intel/iris_data.csv'